
@model Department 

@{
    ViewData["Title"] = "Details";
}



<h1>
    Department Details  
</h1>
<br/>
<br/> 
<div>
    <partial name="PartialViews/DeleteDetailsDepartmentPartialView" />

    <a asp-controller="Department" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-warning">Edit</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-light">Back To List</a>
</div>


